body {
  background-color: lightblue;
}
#divParent {
	width:600px;
	padding-top:100px;
	margin:0 auto;
	height:520px;
}
#divLogo {
	float:left;
	background-color:white;
	width:340px;
	height:100%;
}
#divRight {
	float:right;
	margin-left: 10px;
	width:250px;
	height:100%;
}
#divLogin {
	background-color:white;
	width:100%;
	height:25%;
}
#divSignup {
	background-color:white;
	width:100%;
	height:75%;
	border-top: 0.5px solid;
}
#formLogin {
	margin-left:10px;
}
#formSignup {
	margin-left:10px;
}
#selectmenu {
	width:175px;
}
.button {
	float:right;
	margin-right:65px;
	border-radius: 25px;
	background: #73AD21;
	color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}
