/*
@media screen and (min-width: 800px) and (max-width: 800px){
  #divLogo{
    padding-left: 25%;
  }
  #divRight{
    padding-right: 25%;
  }
}
*/
@media screen and (min-width: 1024px){
  #divParent{
    margin-left: 15% !important;
  }
}

@media screen and (min-width: 1440px){
  #divParent{
    margin-left: 25% !important;
  }
}

@media screen and (min-width: 2500px){
  #divParent{
    margin-left: 35% !important;
  }
}
body {
  background-color: #1DA1F2;
  overflow-x: hidden;
}

.form-group {
  margin-bottom: 1rem !important;
}

#divParent {
  padding-top:10%;
	height:100%;
  margin-left: auto;
}

label {
  display: inline-block;
  width: 35%;
  text-align: left;
}​

#divParent .btn-default{
  float: right !important;
}

#divLogo {
	float:left;
	width:370px;
	height:100%;
  border-bottom: 5px solid #1DA1F2;
}

#divRight {
	float:left;
	width:370px;
	height:100%;
}

#divLogin {
  background-color: white;
}

#divSignup {
  background-color: white;
  border-top: 5px solid #1DA1F2;
}

.img-circle{
    width: 5% !important;
}

/*
#formLogin {
	margin-left:10px;
}
#formSignup {
	margin-left:10px;
}*/

/*.button {
	float:right;
	margin-right:65px;
	border-radius: 25px;
	background: #73AD21;
	color: white;
}*/

.button_change{
	margin-right:65px;
	border-radius: 25px;
	background: #73AD21;
	color: white;
}

.button_search{
	border-radius: 25px;
	background: #73AD21;
	color: white;
}

#buttonSignOut{
	float:right;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #E1E8ED;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #AAB8C2;
}

.tab button.active {
  background-color: #657786;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.home_column{
  float: left;
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
  border: 1px solid black;
}

.others_home_column{
  float: left;
  height: 50%;
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
  border: 1px solid black;
}

#divSearch{
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}
#formChangePassword{
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 215px;
}

#rightColHome{
  float: left;
}

#rightColHomeOthers{
  float: left;
}

#post_row {
  margin-bottom: 5%;
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
}

#wall{
  margin-top: 5%;
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
}

#others_wall{
  float:left;
  background-color: #F5F8FA;
  border-radius: 25px;
  padding: 20px;
}

#refresh_button{
	float: right;
	margin-top: -12%;
}

#refresh_button_others{
	float: right;
	margin-top: 2%;
}

div.left_user_info{
  float: left;
  clear: both;
  margin-bottom: 5%;
  width: auto;
}

div.right_user_info{
  float: left;
  width: auto%;
}

#right_profile_pic{
  padding-left: 2%;
}

.audio_tags{
  width: 200px !important;
}

.file_upload{
    float:left;
}
